{%extends 'Header_footer.html' %} {% load static %}

<head>
  {%block tittle%}Confirmar compra{%endblock%}
</head>

<body>
  {%block content%}

  <div class="justify-between flex px-10 mt-10 min-h-screen">
    <div class="flex justify-start">
      <div class="flex items-center ml-28 -mt-20">
        <div class="relative w-96 mx-auto h-96">
          <div
            id="imageCarousel"
            class="flex overflow-hidden relative h-70 w-96 rounded-lg shadow-lg items-center"
          >
            <div
              class="flex items-center transition-transform duration-500 ease-in-out"
              style="transform: translateX(0%)"
            >
              <img
                src="{{tienda.img_prev.url}}"
                class="w-96 h-96 flex-shrink-0"
                alt="Imagen 1"
              />
              <img
                src="{{tienda.img_comp.url}}"
                class="w-96 h-96 flex-shrink-0"
                alt="Imagen 2"
              />
            </div>
          </div>
        </div>

        <!-- Controles -->
        <button
          id="prevButton"
          class="absolute top-1/2 left-0 transform -translate-y-1/2 text-white p-2 rounded-full focus:outline-none"
        >
          ‹
        </button>
        <button
          id="nextButton"
          class="absolute top-1/2 right-0 transform -translate-y-1/2 text-white p-2 rounded-full focus:outline-none"
        >
          ›
        </button>
      </div>
    </div>

    <div
      class="flex flex-col mr-40 w-96 h-screen items-center justify-center border border-stone-300 space-y-5 pt-4 -mt-40"
    >
      <p class="text-xl">
        {{request.user.first_name}} {{request.user.last_name}}
      </p>

      <p class="text-lg">{{tienda.nombre}}</p>
      <p>{{tienda.descripcion}}</p>

      <select
        name="tamañoSelector"
        id="tamaño_selector"
        onchange="actualizarDatos()"
      >
        {%for i in size%}
        <option value="">----</option>
        <option value="{{i.id}}" data-tamaño="{{i.tamaño}}">{{i}}</option>
        {%endfor%}
      </select>

      <button
        class="rounded-xl w-40 h-8 hover:bg-slate-300 pb-1.5 text-xl"
        id="abrir"
      >
        comprar
      </button>

      <div class="flex justify-center items-center">
        <dialog id="modal" class="p-20 rounded-lg space-y-2">
          <div>
            <p>¿Desea proceder con la compra?</p>
            <form method="post" class="flex flex-col space-y-2">
              {% csrf_token %}
              <input
                type="hidden"
                value="{{tienda.nombre}} "
                id="producto"
                name="producto"
              />
              <input type="hidden" value="" id="tamañoF" name="tamaño" />
              <input
                type="hidden"
                value="{{user.id}}"
                name="id_user"
                id="id_user"
              />
              <select name="cantidad" id="cantidad">
                <option value="">----</option>
                <option value="1/2 caja">1/2 caja</option>
                <option value="1 caja">1 caja</option>
                <option value="2 cajas">2 cajas</option>
                <option value="3 cajas">3 cajas</option>
                <option value="4 cajas">4 cajas</option>
                <option value="personalizado">personalizado</option>
              </select>

              <input type="hidden" name="correo" value="{{user.email}}" />
              <input type="hidden" name="telefono" value="{{user.telefono}}" />
              <input
                type="hidden"
                name="name"
                value="{{user.first_name}} {{user.last_name}}"
              />

              <button
                type="submit"
                class="flex bg-[#33b2d9] text-white p-2 px-4 rounded-full hover:scale-110 transition duration-300 w-20 mt-4"
              >
                enviar
              </button>
            </form>
            <button
              id="cerrar"
              class="bg-[#fdbc3b] p-2 px-5 rounded-full hover:scale-110 transition duration-300 text-white"
            >
              cerrar
            </button>
          </div>
        </dialog>
      </div>
    </div>
  </div>

  <script>
    function actualizarDatos() {
      var select = document.getElementById("tamaño_selector");
      var selectedOption = select.options[select.selectedIndex];
      var Tamaño = selectedOption.getAttribute("data-tamaño");

      document.getElementById("tamañoF").value = Tamaño;
    }
  </script>

  <script>
    const imageCarousel =
      document.getElementById("imageCarousel").firstElementChild;
    const prevButton = document.getElementById("prevButton");
    const nextButton = document.getElementById("nextButton");

    let currentIndex = 0;

    function updateImageCarousel() {
      const width = imageCarousel.clientWidth;
      imageCarousel.style.transform = `translateX(-${currentIndex * width}px)`;
    }

    prevButton.addEventListener("click", () => {
      currentIndex =
        currentIndex > 0 ? currentIndex - 1 : imageCarousel.children.length - 1;
      updateImageCarousel();
    });

    nextButton.addEventListener("click", () => {
      currentIndex = (currentIndex + 1) % imageCarousel.children.length;
      updateImageCarousel();
    });

    window.addEventListener("resize", updateImageCarousel);

    // Cambio automático cada 3 segundos
    setInterval(() => {
      currentIndex = (currentIndex + 1) % imageCarousel.children.length;
      updateImageCarousel();
    }, 3000); // Cambia el valor (3000 ms) para ajustar el intervalo de tiempo
  </script>

  <script>
    const abrir = document.querySelector("#abrir");
    const modal = document.querySelector("#modal");
    const cerrar = document.querySelector("#cerrar");

    abrir.addEventListener("click", () => {
      modal.showModal();
    });

    cerrar.addEventListener("click", () => {
      modal.close();
    });
  </script>
  {%endblock%}
</body>
